[package]
name = "shadertoy-browser"
version = "0.6.0"
description = "Small Shadertoy browser & viewer for Mac built in Rust"
authors = ["Johan Andersson <repi@repi.se>"]
repository = "https://github.com/repi/shadertoy-browser"
readme = "README.md"
license = "MIT/Apache-2.0"
keywords = ["shaders", "shadertoy", "render", "mac", "metal"]
categories = ["rendering"]
exclude = ["screenshots/*"]

[badges]
travis-ci = { repository = "repi/shadertoy-browser" }
appveyor = { repository = "repi/shadertoy-browser" }

[workspace]
members = [
    "src/shadertoy"
]

[dependencies]
shadertoy = { path = "src/shadertoy", version = "0.6.0" }
floating-duration = "0.1.2"
chrono = "0.4.2"
rayon = "1.0.1"
clap = "2.31.2"
spirv_cross = "0.9.0"
shaderc = "0.3.6"
serde = "1.0.64"
serde_json = "1.0.18"
winit = "0.15.0"
libc = "0.2.41"
foreign-types = "0.3.2"
rust-base58 = "0.0.4"
colored = "1.6.0"
reqwest = "0.8.6"
error-chain = "0.11.0"
open = "1.2.1"
indicatif = "0.9.0"
thread_profiler = "0.3.0"
log = "0.4.1"
fern = "0.5.5"
sha3 = "0.7.3"

[target.'cfg(target_os = "macos")'.dependencies]
cocoa = "0.15.0"
objc = "0.2.2"
objc-foundation = "0.1.1"
metal-rs = "0.9.3"

[profile.release]
debug = true

[features]
default = [ "profiler"]
profiler = ["thread_profiler/thread_profiler"]
